/* ===============
    PAGE: HISTORY
   =============== */
/* page grid */
.history-grid {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  gap: 40px 15px;
  /* fixed height so scrolling exists */
  width: 390px;
  height: 320px; 
  padding-top: 2px; /* for the button animation*/
  padding-bottom: 2px; /* for the button animation*/
  top: 25%;
  left: 8%;
  overflow-y: auto; /* activates the scroll when multiple items exist */
  /* scroll bar */
  scrollbar-width: thin;
  scrollbar-color: #5c3a2e transparent;
}

/* images squares */
.history-card {
  background: var(--colour-hammy-beige-dark);
  height: 180px;
  width: 180px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* button shadow */
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  padding: 10px;
  cursor: pointer;
}

/* images */
.history-card img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;  
  image-rendering: pixelated;
}

/* text under the square */
.history-text {
  color: var(--colour-hammy-beige);
  text-align: center;
  position: absolute;
  margin-top: 122%;
  font-size: 12px;
  white-space: nowrap;
}

/* text - numbers */
.history-text-number {
  font-family: var(--font-pixel-2);
  font-size: 10px;
}

/* buttons + text */
.history-grid-button {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}