@import "tailwindcss";

@theme {
  --color-hammy-brown-dark: #3d1f18;
  --color-hammy-brown: #6d4c41;
  --color-hammy-beige-dark: #dacfcc;
  --color-hammy-beige: #fff8e1;
  
  --font-pixel-1: "Pixelify Sans", sans-serif;
  --font-pixel-2: "Silkscreen", silkscreen;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: white;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
